.logo {
    width: 50%;
    height: auto;
}

.menu {
    font-size: 200%;
}

.fondoempresa {
    background-image: url(../img/fondoempresa.png);
    color: white;
    font-size: 150%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.fondo-gif {
    width: 100%;
    height: 70vh;
    /* Establece el fondo de pantalla GIF */
    background-image: url('../img/fondo.gif');
    /* Ajusta la posición y tamaño del fondo */
    background-size: cover; /* o contain, dependiendo de tus preferencias */
    background-position: center;
    /* Evita que el fondo se repita */
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}