
.color-cap{
    background-color:white;
    margin-left: -1%;
    margin-top: -3.5%;
}

.casa{
    width: 7%;
   height: auto;
   margin-left: 3%;
}


.row {
    display: flex;
    justify-content: center;
}


.col2 {
    width: 50%;
    float: left;             /* para que se ponga a izquierda */
}

.col2-right {
    width: 50%;
    float: right;            /* para que se ponga a derecha */
}

.col2-right1 {
  width: 50%;
  float: right;            /* para que se ponga a derecha */
}

.img {
    width: 70%;
    height: auto;
    text-align: center;
}

.bo {
    margin-left: 5%;
    margin-right: 5%;
}

.titulo {
    text-align: center;
}

.precio {
    float: right;
}

.rating {
    unicode-bidi: bidi-override; /* Establece la dirección de texto a derecha a izquierda */
    direction: rtl; /* Establece la dirección del texto a derecha a izquierda */
    text-align: center; /* Centra el contenido */
  }
  
  /* Estilos para cada estrella */
  .rating span {
    font-size: 30px; /* Tamaño de la fuente */
    color: #ffd700; /* Color de las estrellas (amarillo) */
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre las estrellas */
  }
  
  /* Estilos al pasar el cursor sobre las estrellas */
  .rating span:hover,
  .rating span:hover ~ span {
    color: #ff9800; /* Cambia el color de las estrellas al pasar el cursor (naranja) */
  }

  body {
    height: auto; /* La sección ocupa toda la altura */
    background-image: url(../img/fondoempresa.png); /* URL de la imagen de fondo */
    background-size: cover; /* La imagen cubrirá todo el espacio */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    color: white;
    font-size: 150%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    
}

/* Estilo para el dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    right: ;
    top: 20px;
  }
  
  /* Estilo para el botón del dropdown */
  .dropdown button {
    background-color: rgba(143, 0, 159, 0.849);
    color: white;
    padding: 1%;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo para el contenido del dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0 8% 16% 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Estilo para los elementos dentro del dropdown */
  .dropdown-content a {
    color: black;
    padding: 12% 16%;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  
  /* Cambiar el color de fondo del enlace al pasar el mouse */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Mostrar el contenido del dropdown cuando el botón se pone en :hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-bottom: -4%;
}

.margen{
  margin: 5%;
}



@media screen and (max-width: 500px){
  .dropdown {
    position: relative;
    display: inline-block;
    right: ;
    top: -2px;
  }

  .col2-right1 {
    width: 50%;
    float: right;            /* para que se ponga a derecha */
    padding-top: 10%;
  }

  .flex{
    display: flex;
  }

  .media1{
    width: 50%;
  }

  .media2{
    width: 50%;
  }

  .row1 {
    display: table;
    justify-content: space-around;
  }

  .img {
    width: 100%;
    height: auto;
    text-align: center;
}

}