<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <title>Spiderman</title>
    <link rel="icon" href="../img/logoIHGames.png" type="image/png">
</head>
<body>

    <header class="row color-cap">
       
        <div class="col2">
            <a href="../index.html"><img src="../img/home.png" alt="casa" class="casa"></a>
        </div>

        <div class="col2-right dropdown">
            <button>Otros juegos</button>
            <div class="dropdown-content">
            <a href="../view/callofduty.html">Call of Duty: Modern Warfare 3</a>
            <a href="../view/reddeadredemption2.html">Red Dead Redemption 2</a>
            <a href="../view/fifa.html">FC 24</a>
            <a href="../view/gtav.html">GTA V</a>
        </div>

        </div>
        
    </header>
<section class="bo">
        <div class="titulo">
            <h1>Spiderman 2</h1>
        </div>
    
        <section class="row row1">

            <div class="col2-right1">
                <img src="../img/spiderman2.jpg" alt="fc24" class="img">
            </div> 
            
            <div class="col2-right">
                <div>
                    <p>Marvel's Spider-Man 2 es un videojuego de acción y aventura de mundo abierto desarrollado por Insomniac Games y publicado por Sony Interactive Entertainment. Basado en el personaje de Marvel Comics, Spider-Man 2 presenta una narrativa inspirada en la mitología de los cómics de larga duración y al mismo tiempo, se deriva de varias adaptaciones en otros medios.</p>
                </div>
                <div class="flex">
                    <div class="media1 row1">
                        <h2>Detalles</h2>
                        <ul>
                            <li><strong>Idiomas:</strong> Español, Ingles, Chino, Italiano, Frances...</li>
                            <li><strong>Plataformas:</strong> PlayStation 5</li>
                            <li><strong>Fecha de lanzamiento:</strong> 20 de octubre de 2023</li>
                            <li><strong>Desarrolladores:</strong> Insomniac Games</li>
                            <li><strong>Genero:</strong> Accion, aventura</li>
                        </ul>
                    </div>

                    <div class="media2 row1">
                        <h2 class="titulo">Valoracion</h2> 
                        <div class="rating">
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                            <span>&#9733;</span>
                        </div>
                        <div class="precio">
                            <h1>Precio</h1>
                            <h2>79,99€</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</section>

<footer>
    <p>Tienda Online de video juegos</p>
    <p>IH Games</p>
</footer>

</body>
</html>